@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    92.23deg,
    #8EC5FC 21.43%,
    #E0C3FC 50.63%,
    #F9D1D1 100%,
    #FDCB82 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(158, 198, 255, 0.4);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #FDCB82 21.43%,
    #F9D1D1 50.63%,
    #E0C3FC 100%,
    #8EC5FC 117.04%
  );
}


.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #FDCB82 21.43%,
    #F9D1D1 50.63%,
    #E0C3FC 100%,
    #8EC5FC 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-gray-900 bg-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[8%] uppercase text-gray-800;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[42px] text-gray-700;
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium transition-all duration-300;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base underline hover:text-blue-600 transition-colors duration-200;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#8EC5FC] to-[#E0C3FC] font-bold font-primary hover:from-[#FDCB82] hover:to-[#F9D1D1];
  }
  .section {
    @apply py-8 lg:py-24 flex items-center justify-center;
  }
}
